:root {
  --violet: hsl(257, 40%, 49%);
  --softmagenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--violet);
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  color: var(--white);
  min-height: 100vh;
  overflow: hidden;
}

header {
  padding-top: 3rem;
}

h1 {
  font-size: 2.4rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

button {
  border: none;
  border-radius: 5rem;
  color: var(--violet);
  width: 200px;
  height: 40px;
  font-size: 1.8rem;
  margin-top: 4rem;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

footer .fa-facebook,
footer .fa-twitter,
footer .fa-instagram {
  font-size: 1.5rem;
  align-items: flex-end;
  border: 2px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 32px;
  margin: 0 9px;
  cursor: pointer;
}

.container {
  background: url('images/bg-mobile.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 3rem;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
}

.content .img-container,
.content .text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content .img-container {
  margin-top: 6.6rem;
}

.content .img-container img {
  height: 209px;
  width: 296px;
}

.content .text-container {
  margin-top: 2rem;
}

.content .text-container h1,
.content .text-container p {
  text-align: center;
}

.content .text-container p {
  margin-top: 1.5rem;
  width: 304px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    line-height: 6rem;
    font-size: 4rem;
    width: 505px;
  }

  .container {
    background-image: url('images/bg-desktop.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 8rem;
  }

  .content .img-container img {
    height: 346px;
    width: 448px;
  }

  .content .text-container {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    line-height: 6rem;
    font-size: 4.5rem;
    margin-top: 4rem;
  }

  button {
    height: 60px;
    border-radius: 3rem;
  }

  button:hover {
    background-color: var(--softmagenta);
    color: var(--white);
  }

  footer {
    justify-content: flex-end;
    margin-top: 4rem;
    padding-right: 8rem;
  }

  .container {
    background-image: url('/images/bg-desktop.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
    gap: 59px;
  }

  .content .img-container {
    margin: 0;
  }

  .content .img-container img {
    height: 493px;
    width: 696px;
  }

  .content .text-container {
    align-items: flex-start;
    width: 100%;
    margin: 0;
  }

  .content .text-container h1,
  .content .text-container p {
    text-align: left;
  }

  .content .text-container p {
    width: 526px;
    font-size: 1.7rem;
  }

  footer {
    margin-bottom: 4rem;
  }

  footer .fa-facebook,
  footer .fa-twitter,
  footer .fa-instagram {
    font-size: 1.5rem;
    align-items: flex-end;
    border: 2px solid var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 9px;
    cursor: pointer;
  }

  footer i:hover {
    color: var(--softmagenta);
    border-color: var(--softmagenta);
  }
}
