:root {
  --violet: hsl(257, 40%, 49%);
  --softmagenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--violet) url(images/bg-desktop.svg) no-repeat center center fixed;
  background-size: contain;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
}
